/*GLOBAL STYLES*/

#header{
  margin: 0 auto;
}
#header img{
  width: 50%;
  margin: 0 auto;
  border: 0.2em solid #000;
  border-radius: 0.2em;
  box-shadow: 0.1em 0.1em 1em #000;
}
#App-body {
  overflow: hidden;
  /* display: flex; */
}
#footer{
  color: #879cfa;
}
@keyframes changesize{
  0% {color: #fafbff;}
  50% {color: #000;}
  100% {color: #879cfa;}
}
.art-nav{
  list-style-type: none;
}
.art-btn{
    border: 0.2em solid #000;
    display: inline-block;
    text-shadow: 0.1em 0.1em 0.1em #000;
    color: #879cfa;
    padding: 5%;
    margin: 5%;
    box-sizing: border-box;
    box-shadow: 0.1em 0.1em 1em #000;
    transition-property: background, border-radius, transform;
    transition-duration: 1s, 0.5s;
    transition-timing-function: ease-in;
}
.digitizer{
  font-family: 'digitizer' sans-serif;
}
.bangers{
  font-family: 'bangers', sans-serif;
}
.nav-link{  
    text-shadow: 0.1em 0.1em 0.1em #000;
    z-index: 3;
    color: #879cfa;
}
.nav-link > li{
  margin: 5%;
}
.nav-link:hover{
  color: #d6deff;
  text-decoration: none;
}
.artBtn:hover{
  border-radius: 50%;
  text-decoration: none;
}
.gallery > ul{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0.5rem;
  max-width: 80%;
  list-style-type: none;
  margin: 0 auto;
}
.gallery img{
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.component > div{
  border: 0.5em solid #000;
  box-sizing: border-box;
  width: 70%;
  margin: 0 auto;
  backdrop-filter: blur(5px);  
}
.video-container{
  
  padding-bottom: 5%;
}
.video-gallery-link > iframe{

  width: 100%;
  height: 100%;
}
.game-container > img{
  margin: 0 auto;
}
.background{
  overflow: hidden;
}
.footer a{
  text-decoration: none;
  color: #000;
}
.footer a:hover{
  color: #d6deff;
}
figcaption{
  color: #000;
  font-weight: 2em;
  text-shadow: 0.08em 0.08em #8AAAB9;
}
div > p {
  font-family: 'Tahoma' sans-serif;
  color: #fff;
  text-shadow: 0.1em 0.1em 0.1em #000;
}
   /*   media queries   */
     /* desktop */
          @media screen and (	min-width: 800px){
            
            #header{
              width: 100%;
              visibility: visible;
            }
            #bottom-nav{
                /* top: 40%; */
                font-size: 2vw;
            }
            .videos{
              display: grid;
              box-sizing: border-box;
              /* border: 3em solid #000; */
              width: 50%;
              grid-template-columns: auto auto;
              grid-template-rows: auto auto;
              align-content: space-between;
              justify-content: space-evenly;
           /*    grid-template-areas: 
              ""; */
              margin: 0 auto;
            }
            .vid1{
              grid-column: 1 / 4;
            }
            .vid2{
              grid-column:  2 / 4;
            }
            .image-gallery > ul{
                max-width: 50%;
            }
            .nav{
              top: 5%;
              left: 10%;
              font-size: 2vw;
            }
          }
