
@font-face {
	font-family:
		'bangers';
  src: local('bangers'), url('fonts/bangers.woff') format('woff'), url('fonts/bangers.woff2') format('woff2'),
} 
@font-face {
	font-family:
		'digitizer';
	src: local('digitizer'), url('fonts/digitizer.woff') format('woff');
}
body {
  background-image: url("static/featured/1.png");
  background-repeat: repeat;
  margin: 0 auto;
  font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}






