@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'digitizer';
    src: local('digitizer'), url('../public/fonts/digitizer.woff') format('woff');
}

body {
    overflow-x: hidden;
}

html {
    width: 100%;
    background-repeat: repeat;
    background-attachment: fixed;
    background-image: url("../public/spaghetti.png");
    background-color: var(--primary-color);
   /*  background-blend-mode:multiply; */
}

:root {

    --primary-color: rgba(0, 150, 115, 0.502);
    --overlay-color: rgba(0, 0, 0, 0.45);
    --menu-speed: 0.75s;
}

@media (prefers-color-scheme: dark) { 
    /*   :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 60, 100, 100;
    } */
}

a:hover {
    color: #7125ff;
    cursor: pointer;
}

.digitizer {
    font-family: 'digitizer', sans-serif;
}

::selection {
    color: #7125ff;
    background: none;
}

div > p, table {
    font-family: 'Tahoma' sans-serif;
}


/* --------------------------------------------------- */


/*GLOBAL STYLES*/



.social-media-icon > svg:hover {
    fill: #7125ff;
}

.social-media-icons > a:hover {
    background-color: transparent;
}

.digitizer {
    font-family: 'digitizer', sans-serif;
}

.bangers {
    font-family: 'bangers', sans-serif;
}

.nav-link:hover {
    color: #7125ff;
    text-decoration: none;
}


.spaghyeti-software {
    border: 0.2em solid #000;
}

.spaghyeti-software:hover {
    border: 0.2em solid #7125ff;
}

.content-container > p {
    color: #fff;
    text-shadow: 0.1em 0.1em 0.1em #000;
}

.content-container>div>h2 {
    font-size: 2vw;
}

.component > div {
    box-sizing: border-box;
    margin: 0 auto;
    backdrop-filter: blur(5px);
}

.component > div > p {
    font-size: 1em;
}

::selection {
    color: none;
    background: none;
}

div > p, table {
    font-family: 'Tahoma' sans-serif;
}

.heading-style {
    color: #00ff0d;
    -webkit-text-stroke: 1px #000000;
}

.nav {
    margin-right: 8%;
}

.nav-link {
    z-index: 3;
    color: #00ff0d;
    -webkit-text-stroke: 1px black;
}

.nav-link:hover {
    color: #7125ff;
    text-decoration: none;
}

.image-gallery-link > a{ padding-top: 5%; }

.wrapper-container {
  margin-bottom: 3%;
  padding-top: 3%;
}

/* main navigation */

.nav-menu- {
    visibility: hidden;
    list-style: none;
    overflow: hidden;
    z-index: 9;
}

.nav-icon {
    background-color: #00ff4c;
}

.nav-icon span {
    background-color:#000000;
    position: absolute;
    border-radius: 2px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    width: 70%;
    height: 5px;
    transition-duration: 500ms;
    margin-left: 15%;
    margin-top: 25%;
}

.nav-icon span:nth-child(1){
    top:0px;
    left: 0px;
}
.nav-icon span:nth-child(2){
    top:13px;
    left: 0px;
    opacity:1;
}
.nav-icon span:nth-child(3){ 
    top:26px;
    bottom:0px;
    left: 0px;
}

.nav-icon.open span:nth-child(1){
    transform: rotate(45deg);
    top: 13px;
}
.nav-icon.open span:nth-child(2){
    opacity:0;
}
.nav-icon.open span:nth-child(3){  
    transform: rotate(-45deg);
    top: 13px;
}


/****************************   media queries   ************************************/

/* mobile */

@media (orientation: portrait) 
{
    .component > div {
        border: 0.2em solid #000;
    }

    .container {
        padding: 1rem;
    }

    .wrapper-container {
        display: block;
    }   
    
    .wrapper-container > div {
        margin-top: 3%;
    }  
    
    li {
        padding-bottom: 10%;
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%; 
    }
  
}

/***************************************** desktop ******************************************/

@media (orientation: landscape) 
{
    .component > div {
        border: 0.25em solid #000;
    }
    .nav-link {
        padding-left: 5%;
        font-size: 1.5em;
    }

    .wrapper-container {
        display: flex;
        justify-content: center;
    }   

    ul {
        display: flex; 
        justify-content: center; 
    }
}


/* DEBUG */

/* * {
    border: 1px solid blue;
} */ 